<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_09_%EB%B3%80%EC%88%98_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 변수 할당하는 다양한 방법
a = 3
a,b = 3,5
a,b = (3,5)
(a,b) = 3,5
print(a, b)

3 5

In [ ]:
a = b = 'python'
print(a)
print(b)

python
python

In [ ]:
a, b, *c = [1,3,5,4,2]      # *은 각 변수에 할당하고 나머지 값을 입력
print(a,b,c)

1 3 [5, 4, 2]

In [ ]:
a, *b, c = [1,3,5,4,2]
print(a,b,c)

1 [3, 5, 4] 2

In [ ]:
# 변수를 복사하는 방법
a = 5
b = a
b = 3
print(b)
print(a)

3
5

In [ ]:
a = [1,3,5,4,2]
b = a
b[1] = 10
print(b)
print(a)
print(a is b)    # 같은 값을 가르킴

[1, 10, 5, 4, 2]
[1, 10, 5, 4, 2]
True

In [ ]:
# 서로 동일한 변수인지 확인하는 방법
a = [1,3,5,4,2]
b = a
print(a is b)

True

In [ ]:
a = [1,3,5,4,2]
b = [1,3,5,4,2]
print(a is b)

False

In [ ]:
# 변수를 복사하는 방법
a = [1,3,5,4,2]
b = a[:]    # a를 복사해서 b에 넣어라
b[1] = 10
print(b)
print(a)
print(a is b)

[1, 10, 5, 4, 2]
[1, 3, 5, 4, 2]
False

In [ ]:
from copy import copy

a = [1,3,5,4,2]
b = copy(a)
b[1] = 10
print(b)
print(a)

[1, 10, 5, 4, 2]
[1, 3, 5, 4, 2]

In [ ]:
# 변수를 교환하는 방법 (새로운 변수를 만들어 교환)
a = 3
b = 5
c = a
a = b
b = c
print(a)
print(b)

5
3

In [ ]:
# 변수를 교환하는 방법 (쉬운 방법)
a = 3
b = 5
a,b = b,a
print(a)
print(b)

5
3

[실습예제]
1. 코드 a, b = [1,3,5,4,2]에서 에러가 발생하지 않도록 변수 a에는 1이, 변수 b에는 [3,5,4,2]가 할당되도록 코드를 수정해 보세요. 
2. 변수 a와 b의 값을 서로 교환후, 화면에 변수 a와 b를 출력해보세요. 
3. 변수 a이 있는 모든 값에 b의 값을 더한 후 변수 a를 화면에 출력해보세요.

In [ ]:
a, *b = [1,3,5,4,2]
print(a, b)
a,b = b,a
print(a)
print(b)

a[0] = a[0] + b
a[1] = a[1] + b
a[2] = a[2] + b
a[3] = a[3] + b
print(a)

1 [3, 5, 4, 2]
[3, 5, 4, 2]
1
[4, 6, 5, 3]