<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_12_%EB%B0%98%EB%B3%B5%EB%AC%B8_For%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 반복문 For문: 리스트나 튜플, 문자열의 요소를 순서대로 변수에 대입하여 반복 수행
# 반복문 For문 기본구조
''' for 변수 in 리스트(또는 튜플, 문자열):
        수행할 문장1
        수행할 문장2'''

In [ ]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [ ]:
# 반복문 For문과 자주 같이 사용되는 range 함수
a = 0
for i in range(1, 11):
    a += i
print(a)

55

In [ ]:
# 이중 For문
for i in range(2, 10):    # ①번 for문
    for j in range(1, 10):    # ②번 for문
        print(i * j, end=" ")
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
# 리스트 내포
# 리스트 내포 구조
'''[표현식 for 항목1 in 반복가능객체1 if 조건문1
           for 항목2 in 반복가능객체2 if 조건문2
           ...
           for 항목n in 반복가는객체n if 조건문n]

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
box = [[1,2], [3,4], [5,6]]

for i,j in box:
    print(i + j)

3
7
11

In [ ]:
box = []    # [1,2,3,4,5]

for i in range(1, 6):
    box.append(i)
print(box)

[1, 2, 3, 4, 5]

In [ ]:
box = [i for i in range(1, 6)]
print(box)

[1, 2, 3, 4, 5]

In [ ]:
box = [i*3 for i in range(1, 11)]
print(box)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
box = [i for i in range(1, 11) if i % 2 == 0]
print(box)

[2, 4, 6, 8, 10]

In [ ]:
box = [i*j for i in range(2, 10) for j in range(1, 10)]
print(box)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
a = 0
for i in range(1, 1001):
    a += i
print(a)

500500

[실습예제]
로또 당첨번호가 총 몇 개의 조합이 있는지 for문을 사용해서 로또 당첨번호의 총 개수를 구해보세요.

In [ ]:
count = 0
for n1 in range(1, 46):
    for n2 in range(n1+1, 46):
        for n3 in range(n2+1, 46):
            for n4 in range(n3+1, 46):
                for n5 in range(n4+1, 46):
                    for n6 in range(n5+1, 46):
                        count += 1
print(count) 
print(1/count)

8145060
1.2277380399898834e-07