<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_13_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 함수: 어떤 일을 수행한 다음에 그 결과를 내어놓는 것
# 함수 기본구조
''' def 함수명(매개변수):
        <수행할 문장1>
        <수행할 문장2>'''

In [ ]:
''' def 함수이름(매개변수):
        <수행할 문장>
        ...
        return 결과값'''

In [ ]:
# 입력값이 없는 함수
def say():
    return 'Hi'
a = say()
print(a)

Hi

In [ ]:
# 반환값이 없는 함수
def add(a, b):
    print("%d, %d의 합은 %d입니다."%(a, b, a+b))
a = add(3, 5)
print(a)    # 반환값이 없으므로 a에 전달된 값이 없음. None으로 표시

3, 5의 합은 8입니다.
None

In [ ]:
# 입력값도 반환값도 없는 함수
def say():
    print('Hi')
say()

Hi

In [ ]:
# 입력값이 몇 개가 될지 모를 때
''' def 함수이름(*매개변수):
         <수행할 문장>

    def 함수이름(매개변수1, *매개변수):
         <수행할 문장)'''

In [ ]:
# 입력값을 딕셔너리로 받을 때
''' def 함수이름(**매개변수):
         <수행할 문장>'''
# print_kwargs(a=1) -> {'a':1}
# print_kwargs(name = 'foo', 'age' = 3) -> {'age':3, 'name':'foo'}

In [ ]:
# 특별한 상황일 때 함수를 빠져나가고 싶다면
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 {}입니다.".format(nick))

In [ ]:
# 기본값 설정
def say_myself(name, old, man=True):
    print("나의 이름은 {}입니다.".format(name))
    print("나이는 {}살입니다.".format(old))
    if man == True:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [ ]:
print(say_myself('홍길동', 30, man=True))
print(say_myself('아이유', 20, man=False))

나의 이름은 홍길동입니다.
나이는 30살입니다.
남자입니다.
None
나의 이름은 아이유입니다.
나이는 20살입니다.
여자입니다.
None

In [ ]:
# 함수 안에서 사용되는 변수는 함수 안에서만 사용이 된다.
a = 1   # 전역변수: 모든 곳에 영향을 미친다. 
def vartest(a):
    a = a + 1    # 지역변수: 함수 안에서만 사용되는 변수

In [ ]:
a = 1   # 전역변수
def vartest(a):
    global a    # 전역변수 a 명시
    a = a+1     # 전역변수 a: 기존 a에 덮어 씌워짐

In [ ]:
# lambda: 아주 간단한 함수를 만들 때 편리함. 
add = lambda a, b: a+b

def add(a, b):
    return a + b

In [ ]:
def add(num1, num2):
    return num1 + num2

a = add(3, 4)
print(a)

7

In [ ]:
def say():
    return 'hello'  # 입력 값이 없는 함수

a = say()
print(a)

hello

In [ ]:
def add(num1, num2):
    print(num1 + num2)  # 반환 값이 없는 함수 

a = add(4, 5)
print(a)        # 반환 값이 없으므로 None 표시

9
None

In [ ]:
def intro(name, age, sex=5):
    print("나의 이름은 {}이고, {}살입니다.".format(name, age))
    if sex == 5:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")

intro("홍길동", 30)

intro("아이유", 20, 3)

나의 이름은 홍길동이고, 30살입니다.
나는 남자입니다.
나의 이름은 아이유이고, 20살입니다.
나는 여자입니다.

In [ ]:
def test():
    a = 5   # 지역변수

a = 0   # 전역변수
test()
print(a)

0

In [ ]:
def test():
    global a   # 전역변수 a 명시
    a = 5      # 전역변수

a = 0   # 전역변수
test()
print(a)

5

In [ ]:
# 재귀함수: 내가 나를 부르는 함수
def fac(n):
    a = 1
    for i in range(1, n+1):
        a = a * i
    return a

print(fac(5))

120

In [ ]:
def fac(n):
    if n == 1:
        return 1
    else:
        return n * fac(n-1)

print(fac(5))

120

[실습예제]
피보나치 수열에서 위치에 해당하는 값을 반환해주는 함수를 완성해보세요.  
예) fibo함수에 5를 전달하면 5번째 피보나치 수열의 값을 반환하면 됩니다.  
피보나치 수열: 0, 1, 1, 2, 3, 5, 8, 13, 21, ...

In [ ]:
def fibo(n):
    if n == 1: 
        return 0
    elif n == 2:
        return 1
    else:
        return(fibo(n-1)+fibo(n-2))

print(fibo(7))

8