<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_16_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 내장함수
- 파이썬에서 기본적으로 제공하는 함수

In [ ]:
# 출력: print | 화면에 내가 원하는 값을 요청하는 함수
print("life""is""too short")
print("life"+"is"+"too short")

lifeistoo short
lifeistoo short

In [ ]:
for i in range(10):
    print(i)    # end 매개변수 생략

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    print(i, end=' ')    # 기본값은 end = '\n' 줄바꿈

In [ ]:
# 파일 쓰기/읽기: open | 파일을 생성하거나 불러오는 함수
f = open("test.txt", 'wt')    # wt = write text 쓰기
f.write("hello")
f.close()   # 저장하고 끄는 기능

In [ ]:
f = open("test.txt", 'rt')    # rt = read text 읽기

data = f.read()    # 읽은 결과 값을 data 변수에 넣어라. 

data

'hello'

In [ ]:
f = open("test.txt", 'wt')    # write text(새롭게 쓰는 기능)
f.write('hello')
f.close()
# hellohello를 예상했지만 hello가 덮어 씌워짐.

In [ ]:
f = open("test.txt", 'at')  # at = attach text
f.write('hello world!')
f.close()

In [ ]:
f = open("test.txt", 'rt')   
data = f.read()
data

'hellohello world!'

In [ ]:
# 절대값: abs | absolute
print(abs(3))
print(abs(-3))
print(abs(-1.2))

3
3
1.2

In [ ]:
# 모두 참이어야 참: all
print(all([1,2,3]))
print(all([1,2,3,0]))   # 0은 False

True
False

In [ ]:
# 하나라도 참이면 참: any
print(any([1,2,3,0]))
print(any([0,0,0,0]))

True
False

In [ ]:
# 몫과 나머지: divmod
divmod(7,3) # 몫 2, 나머지 1

(2, 1)

In [ ]:
# 리스트, 튜플, 문자열의 위치와 값 반환: enumerate | 중요!!
enumerate(['body', 'foo', 'bar'])

In [ ]:
box1 = ['이순신', '홍길동', '아이유']

for i,j in enumerate(box1):  # box1을 enumerate해서 위치는 i, 값은 j 변수에 넣어라
    print(i, j)

0 이순신
1 홍길동
2 아이유

In [ ]:
# 실행 가능한 문자열을 실행한 결과값을 반환: eval | 문자열을 해석 -> 파이썬 코드로 변환해서 실행
print(eval('1+2'))
print(eval("'hi' + 'a'"))
print(eval('divmod(4,3)'))

3
hia
(1, 1)

In [ ]:
# filter | filter(함수, 리스트) -> True로 나온 값만 필터링
def positive(x):
    return x > 0    # 리스트의 숫자가 0보다 크면 T, 0이거나 0보다 작으면 F

print(list(filter(positive, [1,-3,2,0,-5,6])))

[1, 2, 6]

In [ ]:
box1 = ['이순신', '홍길동', '아이유']
box2 = [1,3,5,4,2,-3,-4,-5]

def test(x):
    return x > 0    # x가 0보다 크면 T, 0이거나 0보다 작으면 F
print(list(filter(test, box2)))     # True 값만 필터링

[1, 3, 5, 4, 2]

In [ ]:
# 주소값 반환: id | 어떤 값이나 값이 저장된 변수의 주소값 확인
a = 3
id(3)

11126752

In [ ]:
id(a)

11126752

In [ ]:
# 정수 반환: int
print(int('3'))    # 문자열 -> 정수로 변환
print(int(3.4))    # 실수 -> 정수로 변환
print(int('11', 2))    # 이진법 -> 10진법으로 변환하여 정수로 표시

3
3
3

In [ ]:
# 길이 반환: len
print(len("Python"))
print(len([1,2,3]))
print(len((1, 'a')))

6
3
2

In [ ]:
# 리스트 변환: list
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
list((1,2,3))

[1, 2, 3]

In [ ]:
# map | 모든 요소에 함수값을 적용 | cf. filter: True 값만 필터링
def two_times(x):
    return x*2
list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [ ]:
box1 = ['이순신', '홍길동', '아이유']
box2 = [1,3,5,4,2,-3,-4,-5]

def test(x):
    return x * 10
print(list(map(test, box2)))

[10, 30, 50, 40, 20, -30, -40, -50]

In [ ]:
# 최대값: max
print(max([1,2,3]))
print(max("python"))

3
y

In [ ]:
# 최소값: min
print(min([1,2,3]))
print(min("python"))

1
h

In [ ]:
# x의 y제곱: pow(x, y)
print(pow(2,4))
print(2**4)
print(pow(3,3))

16
16
27

In [ ]:
# 범위 함수: range
print(list(range(5)))         # 0~4
print(list(range(5, 10)))     # 5~9
print(list(range(1,10,2)))    # 1~9, 2씩 증가
print(list(range(0,-10,-1)))  # 0~-9, -1씩 증가

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
# 반올림: round
print(round(4.6))
print(round(4.2))
print(round(5.678, 2))  # 2번째 자리까지 표시

5
4
5.68

In [ ]:
# 정렬: sorted
print(sorted([3,1,2]))
print(sorted(['a','c','b']))
print(sorted('zero'))   # 단어도 정렬 가능 / list.sort()로는 처리 불가

[1, 2, 3]
['a', 'b', 'c']
['e', 'o', 'r', 'z']

In [ ]:
# 문자열 변환: str
str(3)

'3'

In [ ]:
# 합: sum
print(sum([1,2,3]))
print(sum((4,5,6)))

6
15

In [ ]:
# 튜플 변환: tuple
tuple("abc")

('a', 'b', 'c')

In [ ]:
tuple([1,2,3])

(1, 2, 3)

In [ ]:
# 자료형 확인: type
print(type("abc"))
print(type([]))

<class 'str'>
<class 'list'>

In [ ]:
# 동일한 개수로 묶어주는 함수: zip
# for문 사용시 2개의 리스트를 zip으로 묶어 동시에 돌릴 수 있다. 
# ex) for i,j in zip(list1, list2):

list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
list(zip([1,2,3], [4,5,6], [7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [ ]:
list(zip('abc', 'def'))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

[실습예제]  
1. 내장함수 abs() 함수를 사용하여 abs(-3) + abs(5)의 값을 변수 a에 할당하세요.  
2. 내장함수 round() 함수를 사용하여 round(4.7)+round(2.2)의 값을 변수 b에 할당하세요.   
3. 내장함수 max(), min() 함수를 사용하여 max([1,3,5,4,2]) + min([1,3,5,4,2])의 값을 변수 c에 할당하세요.  
4. 내장함수 sum() 함수를 사용하여 sum([2,4,3,1,5])의 값을 변수 d에 할당하세요.  
5. 마지막으로 변수 a,b,c,d를 모두 더한 값을 화면에 출력하세요.

In [ ]:
a = abs(-3) + abs(5) 
b = round(4.7)+round(2.2)
c = max([1,3,5,4,2]) + min([1,3,5,4,2])  
d = sum([2,4,3,1,5])
print(a+b+c+d)

36