<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_20_%EC%8B%9C%EB%A6%AC%EC%A6%88%EC%99%80_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 표 형태의 데이터 (열: 시리즈, 표: 데이터프레임)
- 시리즈: 데이터프레임에서 각각의 열을 시리즈라고 한다. 판다스의 pd.Series() 함수를 사용하여 시리즈를 생성할 수 있다.

In [ ]:
# 딕셔너리를 사용해서 시리즈 만들기
import pandas as pd
dic = {"a":1, "b":2, "c":3}
pd.Series(dic)

a    1
b    2
c    3
dtype: int64

In [ ]:
# 리스트를 사용해서 시리즈 만들기
box = ['홍길동', '이순신', '아이유']
pd.Series(box)

0    홍길동
1    이순신
2    아이유
dtype: object

In [ ]:
box = ['홍길동', '이순신', '아이유']
pd.Series(box, index = ['가','나','다'])

가    홍길동
나    이순신
다    아이유
dtype: object

In [ ]:
# 시리즈 자료형 확인
box = ['홍길동', '이순신', '아이유']
s = pd.Series(box, index = ['가','나','다'])
type(s)

pandas.core.series.Series

In [ ]:
# 시리즈 행 이름 확인
s.index

Index(['가', '나', '다'], dtype='object')

In [ ]:
# 시리즈 값 확인
s.values

array(['홍길동', '이순신', '아이유'], dtype=object)

In [ ]:
# 딕셔너리로 데이터프레임 만들기
dic = {'이름':['홍길동','이순신','아이유'],
       '성별':['남자', '남자', '여자'],
       '나이':[40, 50, 20]}
pd.DataFrame(dic)

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
dic = {'이름':['홍길동','이순신','아이유'],
       '성별':['남자', '남자', '여자'],
       '나이':[40, 50, 20]}
pd.DataFrame(dic, index = ['A','B','C'])

    이름  성별  나이
A  홍길동  남자  40
B  이순신  남자  50
C  아이유  여자  20

In [ ]:
dic = {'이름':['홍길동','이순신','아이유'],
       '성별':['남자', '남자', '여자'],
       '나이':[40, 50, 20]}
pd.DataFrame(dic, index = ['A','B','C'], columns = ['성별','나이','이름'])    # 열순서 정하기

   성별  나이   이름
A  남자  40  홍길동
B  남자  50  이순신
C  여자  20  아이유

In [ ]:
# 리스트로 데이터프레임 만들기
box = [['홍길동','남자',40], ['이순신','남자',50],['아이유','여자',20]]
pd.DataFrame(box)

     0   1   2
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
box = [['홍길동','남자',40], ['이순신','남자',50],['아이유','여자',20]]
pd.DataFrame(box, columns = ['이름','성별','나이'])    # 열이름 만들기

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
box = [['홍길동','남자',40], ['이순신','남자',50],['아이유','여자',20]]
pd.DataFrame(box, index = ['A','B','C'], columns = ['이름','성별','나이'])

    이름  성별  나이
A  홍길동  남자  40
B  이순신  남자  50
C  아이유  여자  20

In [ ]:
# 데이터프레임 열 이름 확인
box = [['홍길동','남자',40], ['이순신','남자',50],['아이유','여자',20]]
df = pd.DataFrame(box, columns = ['이름','성별','나이']) 
df.columns

Index(['이름', '성별', '나이'], dtype='object')

In [ ]:
# 데이터프레임 행 이름 확인
df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
# 실습
s = pd.Series([100, 200, 300])
s

0    100
1    200
2    300
dtype: int64

In [ ]:
# 실습
s = pd.Series([100, 200, 300], index=['A','B','C'])
s

A    100
B    200
C    300
dtype: int64

In [ ]:
s.index

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
s.values    # 리스트가 아니라, 행렬로 출력됨

array([100, 200, 300])

In [ ]:
df = pd.DataFrame({
    "이름":['홍길동', '이순신', '강동원', '아이유'],
    "성별":['남자', '남자', '남자', '여자'],
    "나이":[40, 50, 30, 20]
})
df    # 4행 3열짜리 데이터프레임

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  강동원  남자  30
3  아이유  여자  20

In [ ]:
df = pd.DataFrame({
    "이름":['홍길동', '이순신', '강동원', '아이유'],
    "성별":['남자', '남자', '남자', '여자'],
    "나이":[40, 50, 30, 20]
}, index=['가','나','다','라'])

df

    이름  성별  나이
가  홍길동  남자  40
나  이순신  남자  50
다  강동원  남자  30
라  아이유  여자  20

In [ ]:
df = pd.DataFrame({
    "이름":['홍길동', '이순신', '강동원', '아이유'],
    "성별":['남자', '남자', '남자', '여자'],
    "나이":[40, 50, 30, 20]
}, index=['가','나','다','라'], columns = ['성별', '나이', '이름'])
df

   성별  나이   이름
가  남자  40  홍길동
나  남자  50  이순신
다  남자  30  강동원
라  여자  20  아이유

In [ ]:
box = [['홍길동','남자',40], ['이순신','남자',50], ['아이유', '여자', 20]]
box

[['홍길동', '남자', 40], ['이순신', '남자', 50], ['아이유', '여자', 20]]

In [ ]:
a = pd.DataFrame(box, columns = ['이름', '성별', '나이'])
a

    이름  성별  나이
0  홍길동  남자  40
1  이순신  남자  50
2  아이유  여자  20

In [ ]:
a.columns

Index(['이름', '성별', '나이'], dtype='object')

In [ ]:
a.index

RangeIndex(start=0, stop=3, step=1)