<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_22_%EC%8B%9C%EB%A6%AC%EC%A6%88%EC%99%80_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 데이터프레임에서 열에 접근하기
- df[열]  | 하나의 열에 접근
- df[[열1, 열2]]  | 여러개의 열에 접근

#### 데이터프레임에서 행, 열에 접근하기
- loc: 이름으로 접근
- iloc: 순서로 접근

In [ ]:
loc[]  # 행이름이 0인 값에 접근, -1을 입력할 경우 오류 발생(-1로 적힌 행이 없기 때문에)
iloc[]  # 0번째 행에 접근, -1을 입력할 경우 가장 뒤에 있는 값을 가져옴
loc[[0, 10, 100, 1000]]    # 이라고 적힌 행에 접근
iloc[[0, 10, 100, 1000]]   # 번째 행에 접근
loc[[0,10,100], ['year', '열']]    # 0,10,100 이라고 적힌 행에 'year', '열' 열에 접근
iloc[[0,10,100], [0,2]]            # 0,10,100번째 행에 0,2번째 열에 접근

In [ ]:
# 데이터프레임에서 내가 원하는 행만 추출하기
df[조건]
df[(조건1) & (조건2)]  # & 교집합 - 조건1, 조건2 둘 다 만족
df[(조건1) | (조건2)]  # | 합집합 - 조건1 또는 조건2 둘 중 하나만 만족해도 행을 추출

In [ ]:
# 데이터프레임의 머리 부분 추출
df.head()
df.head(n=10)

In [ ]:
# 데이터프레임의 꼬리 부분 추출
df.tail()
df.tail(n=10)

In [ ]:
# 데이터프레임의 모양 확인
df.shape    # 몇 행 몇 열로 구성되어 있는지 확인 가능
# 데이터프레임의 열 이름 확인: df.columns
# 데이터프레임의 열 자료형 확인: df.dtypes (object 문자열, int 정수, float 실수)
# 데이터프레임의 정보 확인: df.info()  (타입, 용량, 크기 등 다양한 정보를 확인)

#### 시리즈 통계 함수
- s.mean() 평균 
- s.std() 표준편차 
- s.median() 중앙값 
- s.describe() 요약통계량 
- s.max() 최대값 
- s.min() 최소값

In [ ]:
# 시리즈 중복데이터 삭제하기: s.drop_duplicates()
# 시리즈 특정 값 바꾸기: s.replace(값, 변경값)
# 시리즈 랜덤 샘플 추출: s.sample(n)
# 정렬하기
s.sort_values() - 오름차순정렬
s.sort_values(ascending=False) - 내림차순정렬
s.sort_index() - 행번호 오름차순정렬
s.sort_index(ascending=False) - 행번호 내림차순정렬
# 시리즈 프레임화: s.to_frame()
# 시간 데이터 변환: pd.to_datetime() 함수: 문자열로 된 날짜 데이터를 시간 데이터로 변환

In [ ]:
import pandas as pd

In [ ]:
# 한글이 포함된 파일인 경우 encoding 필요 (euc-kr or cp949)
df = pd.read_csv("person_info.csv", encoding='euc-kr')
df
df.head()

    이름         출생일         사망일  나이   직업
0  홍길동  1920-07-25  1958-04-16  37  회사원
1  이순신  1876-06-13  1937-10-16  61   군인
2  이홍길  1820-05-12  1910-08-13  90   의사
3  곽재우  1867-11-07  1934-07-04  66  연구원
4  신나라  1907-05-27  1964-04-14  56  연구원

In [ ]:
df['이름']

0    홍길동
1    이순신
2    이홍길
3    곽재우
4    신나라
5    오기영
6    기충현
7    심기한
Name: 이름, dtype: object

In [ ]:
df[['이름', '나이', '직업']]

    이름  나이   직업
0  홍길동  37  회사원
1  이순신  61   군인
2  이홍길  90   의사
3  곽재우  66  연구원
4  신나라  56  연구원
5  오기영  45  연구원
6  기충현  41  회사원
7  심기한  77   백수

In [ ]:
# 행에 접근
df.loc[0]

이름            홍길동
출생일    1920-07-25
사망일    1958-04-16
나이             37
직업            회사원
Name: 0, dtype: object

In [ ]:
df.iloc[0]

이름            홍길동
출생일    1920-07-25
사망일    1958-04-16
나이             37
직업            회사원
Name: 0, dtype: object

In [ ]:
df.loc[-1]

KeyError: ignored

In [ ]:
df.iloc[-1]

이름            심기한
출생일    1777-04-30
사망일    1855-02-23
나이             77
직업             백수
Name: 7, dtype: object

In [ ]:
df.loc[[0, 5], ['이름', '직업']]

    이름   직업
0  홍길동  회사원
5  오기영  연구원

In [ ]:
df.iloc[[0, 5], [0, 4]]

    이름   직업
0  홍길동  회사원
5  오기영  연구원

In [ ]:
df

    이름         출생일         사망일  나이   직업
0  홍길동  1920-07-25  1958-04-16  37  회사원
1  이순신  1876-06-13  1937-10-16  61   군인
2  이홍길  1820-05-12  1910-08-13  90   의사
3  곽재우  1867-11-07  1934-07-04  66  연구원
4  신나라  1907-05-27  1964-04-14  56  연구원
5  오기영  1813-03-15  1858-06-16  45  연구원
6  기충현  1912-06-23  1954-06-07  41  회사원
7  심기한  1777-04-30  1855-02-23  77   백수

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   출생일     8 non-null      object
 2   사망일     8 non-null      object
 3   나이      8 non-null      int64
 4   직업      8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [ ]:
df['출생일'] = pd.to_datetime(df['출생일'])
df['사망일'] = pd.to_datetime(df['사망일'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   출생일     8 non-null      datetime64[ns]
 2   사망일     8 non-null      datetime64[ns]
 3   나이      8 non-null      int64
 4   직업      8 non-null      object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 448.0+ bytes

In [ ]:
df['생존일'] = df['사망일'] - df['출생일']
df

    이름        출생일        사망일  나이   직업        생존일
0  홍길동 1920-07-25 1958-04-16  37  회사원 13779 days
1  이순신 1876-06-13 1937-10-16  61   군인 22404 days
2  이홍길 1820-05-12 1910-08-13  90   의사 32964 days
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days
4  신나라 1907-05-27 1964-04-14  56  연구원 20777 days
5  오기영 1813-03-15 1858-06-16  45  연구원 16529 days
6  기충현 1912-06-23 1954-06-07  41  회사원 15324 days
7  심기한 1777-04-30 1855-02-23  77   백수 28422 days

In [ ]:
df.head()

    이름        출생일        사망일  나이   직업        생존일
0  홍길동 1920-07-25 1958-04-16  37  회사원 13779 days
1  이순신 1876-06-13 1937-10-16  61   군인 22404 days
2  이홍길 1820-05-12 1910-08-13  90   의사 32964 days
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days
4  신나라 1907-05-27 1964-04-14  56  연구원 20777 days

In [ ]:
df.tail()

    이름        출생일        사망일  나이   직업        생존일
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days
4  신나라 1907-05-27 1964-04-14  56  연구원 20777 days
5  오기영 1813-03-15 1858-06-16  45  연구원 16529 days
6  기충현 1912-06-23 1954-06-07  41  회사원 15324 days
7  심기한 1777-04-30 1855-02-23  77   백수 28422 days

In [ ]:
df.columns

Index(['이름', '출생일', '사망일', '나이', '직업', '생존일'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
name = df['이름']
name

0    홍길동
1    이순신
2    이홍길
3    곽재우
4    신나라
5    오기영
6    기충현
7    심기한
Name: 이름, dtype: object

In [ ]:
name.replace("홍길동", "강동원")

0    강동원
1    이순신
2    이홍길
3    곽재우
4    신나라
5    오기영
6    기충현
7    심기한
Name: 이름, dtype: object

In [ ]:
age = df['나이']
age

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: 나이, dtype: int64

In [ ]:
age.mean()

59.125

In [ ]:
age.median()

58.5

In [ ]:
age.max()

90

In [ ]:
age.min()

37

In [ ]:
age.std()

18.325918413937288

In [ ]:
df

    이름        출생일        사망일  나이   직업        생존일
0  홍길동 1920-07-25 1958-04-16  37  회사원 13779 days
1  이순신 1876-06-13 1937-10-16  61   군인 22404 days
2  이홍길 1820-05-12 1910-08-13  90   의사 32964 days
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days
4  신나라 1907-05-27 1964-04-14  56  연구원 20777 days
5  오기영 1813-03-15 1858-06-16  45  연구원 16529 days
6  기충현 1912-06-23 1954-06-07  41  회사원 15324 days
7  심기한 1777-04-30 1855-02-23  77   백수 28422 days

In [ ]:
df[df['직업'] == '연구원']

    이름        출생일        사망일  나이   직업        생존일
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days
4  신나라 1907-05-27 1964-04-14  56  연구원 20777 days
5  오기영 1813-03-15 1858-06-16  45  연구원 16529 days

In [ ]:
df[(df['직업'] == '연구원') & (df['나이'] > df['나이'].mean())]

    이름        출생일        사망일  나이   직업        생존일
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days

In [ ]:
df[(df['직업'] == '연구원') | (df['나이'] > df['나이'].mean())]

    이름        출생일        사망일  나이   직업        생존일
1  이순신 1876-06-13 1937-10-16  61   군인 22404 days
2  이홍길 1820-05-12 1910-08-13  90   의사 32964 days
3  곽재우 1867-11-07 1934-07-04  66  연구원 24345 days
4  신나라 1907-05-27 1964-04-14  56  연구원 20777 days
5  오기영 1813-03-15 1858-06-16  45  연구원 16529 days
7  심기한 1777-04-30 1855-02-23  77   백수 28422 days

In [ ]:
df['출생일'].dt.year

0    1920
1    1876
2    1820
3    1867
4    1907
5    1813
6    1912
7    1777
Name: 출생일, dtype: int64

In [ ]:
df['출생일'].dt.month

0     7
1     6
2     5
3    11
4     5
5     3
6     6
7     4
Name: 출생일, dtype: int64

In [ ]:
df['출생일'].dt.day

0    25
1    13
2    12
3     7
4    27
5    15
6    23
7    30
Name: 출생일, dtype: int64