<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_19_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%86%8C%EA%B0%9C_%EB%B0%8F_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 판다스(Pandas) 라이브러리
- 파이썬에서 데이터분석을 할 때 가장 많이 쓰이는 라이브러리이다. 
- 표 형태의 데이터를 다루는 다양한 기능을 제공하고 있다. 
- 셀병합 불가. 엑셀 데이터를 불러올 경우 셀병합이 없는 상태의 데이터만 분석이 가능

1. 엑셀, csv 등 다양한 데이터 형식을 지원
2. 결측치 처리 기능
3. 데이터 형태 바꾸기 (데이터 가공)
4. 데이터 삭제 및 추가
5. 그룹화, 정렬, 결합
6. 시계열 데이터
7. 문자열 및 날짜/시간 지원

#### 데이터 가시화: 많은 그래프 처리 라이브러리와의 연동
- CSV: 데이터를 콤마(',')로 구분한다. 판다스의 read_csv 함수를 사용한다.
- TSV: 데이터를 탭(Tab)으로 구분한다. 판다스에서는 별도 함수를 제공하지 않지만, 판다스의 read_csv() 함수를 사용하여 TSV파일을 읽어올 수 있다.

In [ ]:
# 판다스 불러오기
import pandas as pd

pd.read_csv("파일이름.csv")
pd.read_csv("파일이름.csv", sep = ',')    # sep = ','가 기본값
pd.read_csv("파일이름.tsv", sep = '\t')

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("concat_1.csv", sep=',')

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [ ]:
pd.read_csv("gapminder.tsv", sep='\t')

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
# 파일을 생성하는 함수 / 불러오는 함수
f = open("test.txt", 'wt')    # write text(새롭게 쓰는 기능)
f.write('hello')
f.close()    # 저장하고 끄는 기능

In [ ]:
f = open("test.txt", 'rt')    # read text

data = f.read()    # f는 메모장. 메모장을 읽어서 그 결과를 data라는 변수에 넣어라 

f.close()

In [ ]:
data

'hello'

In [ ]:
f = open("test.txt", 'at')    # attach text (text를 이어쓰는 기능)
f.write('hello World')
f.close()