<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_07_%EC%A7%91%ED%95%A9_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 집합 자료형: 집합 형태로 이루어진 자료형
s1 = set([1,2,3,1,1,1])
print(s1)

{1, 2, 3}

In [ ]:
s1 = set('Hello World!')
print(s1)

{' ', 'W', 'l', 'o', 'r', 'd', 'H', '!', 'e'}

In [ ]:
'''[집합 자료형 특징]
1. 중복을 허용하지 않는다.
2. 순서가 없다. 
3. 중복된 데이터를 삭제할 때 많이 사용된다. '''

In [ ]:
# 집합 리스트로 변환하기
s1 = set("Hello World!")
s1 = list(s1)
print(s1)

[' ', 'W', 'l', 'o', 'r', 'd', 'H', '!', 'e']

In [ ]:
# 집합 튜플로 변환하기
s1 = set("Hello World!")
s1 = tuple(s1)
print(s1)

(' ', 'W', 'l', 'o', 'r', 'd', 'H', '!', 'e')

In [ ]:
# 교집합(intersection)
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)

{4, 5, 6}

In [ ]:
# 합집합(union)
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

In [ ]:
# 집합 전용함수: add | 하나의 값을 추가. 중복된 데이터는 처리하지 않음. 
s1 = set([1,2,3,4,5,6])
s1.add(7)
print(s1)
s1.add(3)
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 집합 전용함수: update | 여러개의 값을 추가
s1 = set([1,2,3,4,5,6])
s1.update([7,8,9,10]) 
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 집합 전용함수: remove
s1 = set([1,2,3,4,5,6])
s1.remove(6)
print(s1)

{1, 2, 3, 4, 5}

In [ ]:
# 멤버연산자 (값이 있으면 True / 없으면 False)
s1 = set([1,2,3,4,5,6])
print(5 in s1)

True

In [ ]:
'''<실습 예제>
list1 = [1,1,1,1,2,2,2,2,4,4,4,4,5,5,5,5,5,3,3,3,3]
리스트 값이 들어있는 변수 list1을 (5,4,3,2,1)로 변환한 후,
set1 = set([3,4,5,6,7])
변수 set1과의 교집합, 합집합을 화면에 출력해보세요.'''

list1 = [1,1,1,1,2,2,2,2,4,4,4,4,5,5,5,5,5,3,3,3,3]
list1 = set(list1)
list1 = list(list1)
list1.sort(reverse=True)
list1 = tuple(list1)
print(list1)

(5, 4, 3, 2, 1)

In [ ]:
set1 = set([3,4,5,6,7])
list1 = set(list1)
print('교집합', set1 & list1)
print('합집합', set1 | list1)

교집합 {3, 4, 5}
합집합 {1, 2, 3, 4, 5, 6, 7}