<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_18_Numpy_%EC%95%8C%EC%95%84%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Numpy
- 수치해석용 파이썬 패키지
- 다차원의 배열 자료구조를 다룰 수 있으며, 벡터와 행렬을 사용하는 선형대수 계산에 주로 사용  
<br>
- import numpy as np

In [ ]:
import numpy as np

In [ ]:
# np.array: 행렬 변환
array1 = np.array([1,2,3])
print(type(array1))    # numpy 행렬
print(array1.shape)    # (3,): 1차원 데이터가 3개 있다.

<class 'numpy.ndarray'>
(3,)

In [ ]:
print([1,2,3] + 3)    # 리스트에서는 각각 3을 더할 수 없다. 오류 발생

TypeError: ignored

In [ ]:
print(np.array([1,2,3]) + 3)    # 행렬에서는 각각 3을 더할 수 있다. | 병렬계산 가능

[4 5 6]

In [ ]:
array2 = np.array([[1,2,3], [4,5,6]])
print(type(array2))    # 2차원 행렬 
print(array2.shape)    # (2, 3): 2행 3열

<class 'numpy.ndarray'>
(2, 3)

In [ ]:
# ndim: 차원 확인
print(array1.ndim)    
print(array2.ndim)    
print(array1)
print(array2)

1
2
[1 2 3]
[[1 2 3]
 [4 5 6]]

In [ ]:
# 1차원 리스트 [1,2,3]
# 2차원 리스트 [[1,2,3], [4,5,6]]
# 리스트와 행렬 구분법: ','유무 | 행렬은 ','가 없다. 
# 행렬은 병렬 계산이 가능하다. 
# reshape로 행렬 모양 변경 가능 | ex) 9개 데이터 1차원 행렬 --> 3행 3열로 변경

In [ ]:
# 데이터 타입 확인
list1 = [1,2,3]
print(type(list1))
array1 = np.array(list1)
print(type(array1))
print(array1, array1.dtype)    # 데이터 타입 확인: int64, int32, int16, float64 등

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [ ]:
list2 = [1,2,3,'test']
array2 = np.array(list2)
print(array2, array2.dtype)    # 모두 문자열로 바뀜. | <U21: Unicode 문자열 형태

['1' '2' '3' 'test'] <U21

In [ ]:
list3 = [1,2,3,4.0]
array3 = np.array(list3)
print(array3, array3.dtype)    # 모두 실수로 바뀌고 메모리가 커짐.

[1. 2. 3. 4.] float64

In [ ]:
# astype: 데이터 타입 변환
array_int = np.array([1,2,3])
print(array_int, array_int.dtype)

[1 2 3] int64

In [ ]:
array_float = array_int.astype('float64')    # 모두 실수형으로 바꾸기
print(array_float, array_float.dtype)

[1. 2. 3.] float64

In [ ]:
array_int = np.array([1,2,3])
array_int1 = array_float.astype('int32')
print(array_int1, array_int1.dtype)

[1 2 3] int32

In [ ]:
array_float1 = np.array([1.1, 2.1, 3.1])
array_int2 = array_float1.astype('int32')
print(array_int2, array_int2.dtype)

[1 2 3] int32

In [ ]:
# np.arange: 행렬 편리하게 생성하기
sequence_array = np.arange(10)    # 0~9까지 행렬로 만들어 줌
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [ ]:
# zeros: 0으로 채워진 행렬 만들기
zero_array = np.zeros((3,2), dtype='int32')    # 0으로 이루어진 3행 2열의 행렬
print(zero_array)
print(zero_array.dtype, zero_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)

In [ ]:
# ones: 1로 채워진 행렬 만들기
one_array = np.ones((3,2))    # 1로 이우러진 3행 2열 행렬
print(one_array)
print(one_array.dtype, one_array.shape)

[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

In [ ]:
# reshpe: 차원 바꾸기
array1 = np.arange(10)    # 1차원 행렬
print('array1:\n', array1)

array2 = array1.reshape(2,5)    # 2행 5열 2차원 행렬 | 단, 데이터 개수가 같아야 함. 
print('array2:\n', array2)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]

In [ ]:
array1 = np.arange(10)
array1.reshape(4,3)    # 4행 3열을 만들기 위해서는 데이터 12개 필요

ValueError: ignored

In [ ]:
array1 = np.arange(12)
array1.reshape(4,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [ ]:
array1 = np.arange(8)
array3d = array1.reshape((2,2,2))    # 3차원 행렬
print('array3d:\n', array3d)
print('list:\n', array3d.tolist())    # 리스트 안에 리스트 안에 리스트

array3d:
 [[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
list:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]

In [ ]:
# 슬라이싱
array1 = np.arange(start=1, stop=10)
array3 = array1[0:3]
print(array1)
print(array3)
print(type(array3))

[1 2 3 4 5 6 7 8 9]
[1 2 3]
<class 'numpy.ndarray'>

In [ ]:
array1 = np.arange(start=1, stop=10)
array4 = array1[:3]
print(array4)

[1 2 3]

In [ ]:
array5 = array1[3:]
print(array5)

array6 = array1[:]
print(array6)

[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [ ]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print('array2d:\n', array2d)
print('array2d[0:2, 0:2]\n', array2d[0:2, 0:2])    # 0~1행, 0~1열

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2, 0:2]
 [[1 2]
 [4 5]]

In [ ]:
print('array2d[1:3, 0:2]\n', array2d[1:, :2])    # 1~마지막행, 처음~1열

array2d[1:3, 0:2]
 [[4 5]
 [7 8]]

In [ ]:
# 인덱싱
# 1에서부터 9까지의 1차원 ndarray 생성
array1 = np.arange(start=1, stop=10)
print('array1:', array1)
# index는 0부터 시작하므로 array1[2]는 세번째 index 위치의 데이터 값을 의미
value = array1[2]
print('value:', value)

array1: [1 2 3 4 5 6 7 8 9]
value: 3

In [ ]:
print('맨 뒤의 값:', array1[-1], ', 맨 뒤에서 두번째 값:', array1[-2])

맨 뒤의 값: 9 , 맨 뒤에서 두번째 값: 8

In [ ]:
# 값 바꾸기
array1[0] = 9
array1[8] = 0
print('array1:', array1)

array1: [9 2 3 4 5 6 7 8 0]

In [ ]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print(array2d)
print('row=0, col=0) index 가리키는 값:', array2d[0,0])
print('row=0, col=1) index 가리키는 값:', array2d[0,1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
row=0, col=0) index 가리키는 값: 1
row=0, col=1) index 가리키는 값: 2

In [ ]:
print(array2d[0])
print(array2d[1])
print('array2d[0]shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape)

[1 2 3]
[4 5 6]
array2d[0]shape: (3,) array2d[1] shape: (3,)

In [ ]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print(array2d, '\n')

array3 = array2d[[0,1],2]    # [[0,1],2]: 0~1행 2열
print(array3, '\n')
print('array2d[[0,1],2] =>', array3.tolist())

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[3 6]

array2d[[0,1],2] => [3, 6]

In [ ]:
# 불리언 인덱싱
array1d = np.arange(start=1, stop=10)
print(array1d)
# []안에 array1d > 5 Boolean indexing을 적용
array3 = array1d[array1d > 5]    # 5보다 큰 값에 접근
print('array1d > 5 불린 인덱싱 결과값:', array3)

[1 2 3 4 5 6 7 8 9]
array1d > 5 불린 인덱싱 결과값: [6 7 8 9]

In [ ]:
print(array1d > 5)

[False False False False False  True  True  True  True]

In [ ]:
boolean_indexes = np.array([False, False, False, False, False, True, True, True, True])
array3 = array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과:', array3)

불린 인덱스로 필터링 결과: [6 7 8 9]

In [ ]:
indexes = np.array([5,6,7,8])
array4 = array1d[indexes]
print('일반 인덱스로 필터링 결과:', array4)

일반 인덱스로 필터링 결과: [6 7 8 9]

In [ ]:
# 행렬 정렬
org_array = np.array([3,1,9,5])
print('원본 행렬:', org_array)
# np.sort()로 정렬
sort_array1 = np.sort(org_array)
print('np.sort()호출 후 반환된 정렬 행렬:', sort_array1)
print('np.sort()호출 후 원본 행렬:', org_array)

원본 행렬: [3 1 9 5]
np.sort()호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort()호출 후 원본 행렬: [3 1 9 5]

In [ ]:
org_array = np.array([3,1,9,5])
sort_array2 = org_array.sort()
print('org_array.sort()호출 후 반환된 행렬:', sort_array2)
print('np.sort()호출 후 원본 행렬:', org_array)

org_array.sort()호출 후 반환된 행렬: None
np.sort()호출 후 원본 행렬: [1 3 5 9]

In [ ]:
org_array = np.array([3,1,5,9])
sort_array1_desc = np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [ ]:
array2d = np.array([[8,12],
                    [7,1]])
sort_array2d_axis0 = np.sort(array2d, axis=0)    # axis=0 행방향 | axis=1 열방향
print('로우(행) 방향으로 정렬:\n', sort_array2d_axis0)

로우(행) 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]

In [ ]:
array2d = np.array([[8,12], 
                    [7,1]])
sort_array2d_axis1 = np.sort(array2d, axis=1)
print('컬럼(열) 방향으로 정렬:\n', sort_array2d_axis1)

컬럼(열) 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [ ]:
org_array = np.array([3,1,5,9])
sort_array1 = np.sort(org_array)
print('원본 행렬 정렬:', sort_array1)
sort_indices = np.argsort(org_array)    # 행렬 정렬시 원본 행렬의 인덱스 반환
print('행렬 정렬시 원본 행렬의 인덱스:', sort_indices)

원본 행렬 정렬: [1 3 5 9]
행렬 정렬시 원본 행렬의 인덱스: [1 0 2 3]

In [ ]:
org_array = np.array([3,1,9,5])
sort_array1_desc = np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)
sort_indices_desc = np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬시 원본 행렬의 인덱스:', sort_indices_desc)

내림차순으로 정렬: [9 5 3 1]
행렬 내림차순 정렬시 원본 행렬의 인덱스: [2 3 0 1]

In [ ]:
# 행렬 내적(행렬끼리 곱셉)
A = np.array([[1,2,3],
              [4,5,6]])
B = np.array([[7,8],
             [9,10],
             [11,12]])
dot_product = np.dot(A, B)
print('행렬 내적 결과:\n', dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

In [ ]:
# 전치 행렬(행과 열을 바꾸기)
A = np.array([[1,2],
              [3,4]])
transpose_mat = np.transpose(A)
print('A의 전치 행렬:\n', transpose_mat)

A의 전치 행렬:
 [[1 3]
 [2 4]]