<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/2MD%EA%B8%B0%EC%B4%88_14_%EC%8B%9C%EB%AE%AC%EB%A0%88%EC%9D%B4%EC%85%98%EC%9D%84_%ED%86%B5%ED%95%B4_%EC%B5%9C%EC%A0%81%EC%9D%98_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%AA%A8%EB%8D%B8_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 시뮬레이션
- 물리적 또는 추상적인 시스템을 모델로 표현하고, 그 모델을 사용해서 실험하는 일
- 모델의 성능이 좋지 않을 때, 모델 조정을 해야함
- 조정해야 하는 옵션이 많을 때, 시뮬레이션 함수를 사용해서 조정하면 최적의 옵션을 찾을 수 있음.

#### Grid Serch
- 격자 탐색이라고 하며, 입력한 모든 값들을 순서대로 실행한 뒤에, 가장 높은 성능을 보이는 값을 찾는 탐색 방법
- 단, 시간이 아주 많이 걸린다는 단점이 있음.

In [ ]:
# Grid Search
from sklearn.model_selection import GridSerchCV

In [ ]:
param = {n_neighbors : range(1,21)}

grid = GridSerchCV(estimator = model, param_grid = param, cv = n)
grid.fit(data, target)

grid.best_params_
grid.cv_results_

In [ ]:
from sklearn.datasets import load_wine
import pandas as pd

wine = load_wine()

In [ ]:
df = pd.DataFrame(wine['data'], columns = wine['feature_names'])
df['target'] = wine['target']
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [ ]:
wine['target_names']

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

data, target = wine['data'], wine['target']

In [ ]:
rf = RandomForestClassifier()

dic = {'n_estimators' : range(100,201,10), 'max_depth' : range(1,11)}
# 나무의 갯수 100개부터 200개까지, 10씩 증가 / 나무는 1층부터 10층까지

gs = GridSearchCV(estimator=rf, param_grid=dic, cv = 3)
gs.fit(data, target)

GridSearchCV(cv=3, estimator=RandomForestClassifier(),
             param_grid={'max_depth': range(1, 11),
                         'n_estimators': range(100, 201, 10)})

In [ ]:
# 100, max(1~10)
# 110, max(1~10)
# 120, max(1~10) .....

In [ ]:
gs.best_params_

{'max_depth': 4, 'n_estimators': 100}

In [ ]:
result = gs.cv_results_
df = pd.DataFrame(result)
df.to_excel('result.xlsx')

In [ ]:
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.282348,0.036255,0.031722,0.016270,1,100,"{'max_depth': 1, 'n_estimators': 100}",0.933333,0.915254,0.949153,0.932580,0.013849,96
1,0.397241,0.080427,0.041731,0.017694,1,110,"{'max_depth': 1, 'n_estimators': 110}",0.900000,0.864407,0.966102,0.910169,0.042135,109
2,0.369580,0.017576,0.029252,0.010530,1,120,"{'max_depth': 1, 'n_estimators': 120}",0.916667,0.932203,1.000000,0.949623,0.036182,24
3,0.210720,0.054418,0.016160,0.001903,1,130,"{'max_depth': 1, 'n_estimators': 130}",0.816667,0.847458,0.983051,0.882392,0.072278,110
4,0.177738,0.006401,0.014758,0.000704,1,140,"{'max_depth': 1, 'n_estimators': 140}",0.916667,0.949153,0.983051,0.949623,0.027103,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,0.218617,0.011528,0.022989,0.009156,10,160,"{'max_depth': 10, 'n_estimators': 160}",0.950000,0.915254,1.000000,0.955085,0.034784,5
106,0.267542,0.028278,0.020733,0.001722,10,170,"{'max_depth': 10, 'n_estimators': 170}",0.950000,0.932203,0.966102,0.949435,0.013845,29
107,0.269573,0.047984,0.018897,0.000106,10,180,"{'max_depth': 10, 'n_estimators': 180}",0.950000,0.915254,0.983051,0.949435,0.027681,29
108,0.290671,0.055499,0.020934,0.001907,10,190,"{'max_depth': 10, 'n_estimators': 190}",0.950000,0.915254,1.000000,0.955085,0.034784,5
109,0.304850,0.045413,0.020949,0.000452,10,200,"{'max_depth': 10, 'n_estimators': 200}",0.950000,0.915254,0.966102,0.943785,0.021218,63

In [ ]:
best = gs.best_estimator_

In [ ]:
best.score(data, target)

1.0

In [ ]:
best

RandomForestClassifier(max_depth=4)